@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
    scroll-behavior: initial;
}
html{
    font-family: 'Droid Arabic Kufi', serif;
}
header {
    height: 150;
    order: 1;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
main{
    order: 2;
}
main video{
    width: 100%;
    height: 100%;
}
.middle-img{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15%;
    margin-top: 15%;
}
footer{
    order: 3;
    background-color: #202020;
    color : white;
    float: left;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin: 12px;
    font-family: 'DS Arabic', sans-serif;
}
a img{
    height: 15px;
}


.overlayText {
    position: absolute;
    bottom: 50%;
    z-index: 1;
  }
  
#topText {
    color: white;
    font-size: 42px;
    align-self: center;
}
.title{
    display: flex;
    height: 46px;
    justify-content: space-around;
    order: 1;
    margin-top: 20px;
}
.down{
    display: flex;
    justify-content: space-between;
}
html, body {
    height: 150%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.down ul {
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
}
.down ul li {
    float: left;
}
.down li a{
    display: inline-block;
}
.down a:hover{
   margin-top: 10px;
}
.down img{
    height: 20px;
    width: 20px;
}


.title ul {
    list-style-type: none;
}
.top-right li {
    float: left;
    position: relative;
}
.top-right li :hover{
    border-bottom: 1px solid blueviolet;
}

header .fit-picture{
    max-height:"120px" ;
    max-width:"180px";
    image-rendering: auto;
}
footer p{
    text-align: center;
}
.adresse{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}
.adresse p{
    align-items: start;
    margin-top: 1%;
    margin-bottom: 1%;
}